<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti gli alberi</title>

    <!-- Google Fonts - Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="css/stile.css"/>

</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
    <div class="uk-container">
        <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
            <!-- Navbar per schermi medi o più grandi -->
            <div class="uk-navbar-left uk-visible@m">
                <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
            </div>
            <div class="uk-navbar-left uk-visible@m">
                <ul class="uk-navbar-nav">
                    <!-- Itera su ogni continente -->
                    <div th:each="continente : ${alberiPerContinente}">
                        <li>
                            <!-- Pulsante per il continente -->
                            <div class="uk-inline uk-margin-small-left">
                                <button class="uk-button sapp-btn-light sapp-shadow"
                                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                                        type="button"
                                        th:text="${continente.key}"> <!-- Nome del continente -->
                                </button>
                                <!-- Dropdown degli alberi del continente -->
                                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <!-- Itera su ogni albero nel continente -->
                                        <li th:each="albero : ${continente.value}">
                                            <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
            <div class="uk-navbar-left uk-hidden@m">
                <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>

            <!-- Login e Registrazione a destra -->
            <div class="uk-navbar-right">
                <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m" th:href="@{/login}">Login</a>
                <a class="uk-button sapp-btn sapp-blue sapp-shadow uk-visible@m" th:href="@{/registrazione}">Registrati</a>
            </div>

        </div>
    </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>


        <ul class="uk-nav uk-nav-default sapp-font">
            <li><button class="uk-button uk-margin-bottom sapp-btn sapp-green" th:href="@{/login}">Login</button></li>
            <li><button class="uk-button uk-margin-bottom sapp-btn sapp-blue" th:href="@{/registrazione}">Registrati</button></li>
            <li class="uk-nav-divider"></li>

            <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

            <div th:each="continente:${alberiPerContinente}" >
                <li class="uk-nav-header" th:text="${continente.key}"></li>
                <div>
                    <ul class="uk-nav-sub">
                        <li th:each="albero:${continente.value}"  >
                            <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
                    </ul>
                </div>
        </ul>
    </div>
</div>

<div class="uk-section">
    <!-- Contenitore principale per ogni continente -->
    <div th:each="continente : ${alberiPerContinente}" class="uk-container">
        <!-- Titolo del continente su un'intera riga -->
        <h2 class="uk-heading-line uk-text-center uk-margin-large-bottom uk-margin-large-top sapp-font"><span th:text="${continente.key}"></span></h2>

        <!-- Griglia delle card degli alberi, disposte su 2 o 3 colonne -->
        <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
            <!-- Itera su ogni albero del continente per generare le card -->
            <div th:each="albero : ${continente.value}">
                <div class="uk-card uk-card-default uk-card sapp-card-border sapp-angle sapp-font" style="overflow: hidden;">
                    <div class="sapp-angle-img uk-cover-container">
                        <img class="uk-cover uk-animation-kenburns" th:src="@{${albero.foto}}" alt="Immagine Albero" th:alt="${albero.nomeAlbero}">
                    </div>
                    <div class="uk-card-body sapp-font">
                        <h3 class="sapp-font" th:text="${albero.nomeAlbero} + ' - ' + ${albero.specie}"></h3>
                        <h4 class="sapp-font-light-reg" th:text="'Paese: ' + ${albero.paese}"></h4>
                        <h4 class="uk-margin-medium-bottom sapp-font-light-reg" th:text="'Significato: ' + ${albero.significato}"></h4>
                        <!-- Prezzo formattato con due decimali e aggiunta di /anno -->
                        <h4 class="sapp-font-light-reg" th:text="'Prezzo: €' + ${#numbers.formatDecimal(albero.prezzo, 0, 'POINT', 2, 'COMMA')} + '/anno'"></h4>
                        <a class="uk-position-bottom-right uk-button sapp-font sapp-btn sapp-green sapp-shadow uk-margin-medium-right uk-margin-medium-bottom"
                           th:href="@{/adozione(id=${albero.id})}">
                            Adottami
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/planet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>


<!-- <h1>Login</h1>
<p th:if="${error}" style="...">Credenziali Errate</p>
<form action="" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" /> <br />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" /> <br />
  <input type="submit" value="Login" />
</form> -->