<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti gli alberi</title>
    <link rel="icon" type="image/x-icon" href="/images/sapplyfavicon.png">

    <!-- Google Fonts - Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="css/stile.css"/>

</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
    <div class="uk-container">
        <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
            <!-- Navbar per schermi medi o più grandi -->
            <div class="uk-navbar-left uk-visible@m">
                <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
            </div>
            <div class="uk-navbar-left uk-visible@m">
                <ul class="uk-navbar-nav">
                    <!-- Itera su ogni continente -->
                    <div th:each="continente : ${alberiPerContinente}">
                        <li>
                            <!-- Pulsante per il continente -->
                            <div class="uk-inline uk-margin-small-left">
                                <button class="uk-button sapp-btn-light sapp-shadow"
                                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                                        type="button"
                                        th:text="${continente.key}"> <!-- Nome del continente -->
                                </button>
                                <!-- Dropdown degli alberi del continente -->
                                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <!-- Itera su ogni albero nel continente -->
                                        <li th:each="albero : ${continente.value}">
                                            <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
            <div class="uk-navbar-left uk-hidden@m">
                <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>

            <!-- Login e Registrazione oppure Area Utente quando loggato -->
            <div class="uk-navbar-right">
                <div th:if="${utente != null}">
                    <!-- Messaggio di benvenuto con username e immagine profilo -->
                    <span class="sapp-font-light-reg uk-visible@m">Ciao, </span><span class="sapp-font uk-margin-small-right uk-visible@m" th:text="${utente.username}"></span>
                    <img th:src="@{${utente.fotoCodificata == null ? 'images/noUtente.jpg' : utente.fotoCodificata}}" class="uk-border-circle uk-margin-medium-right uk-visible@m" alt="Profile Picture" width="50" height="50">
                    <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m" th:href="@{/areariservata}">Area Utente</a>
                </div>
                <div th:if="${utente == null}">
                    <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/login}">Login</a>
                    <a class="uk-button sapp-btn sapp-blue sapp-shadow uk-visible@m" th:href="@{/registrazione}">Registrati</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>


        <ul class="uk-nav uk-nav-default sapp-font">
            <div th:if="${utente != null}">
                <!-- Messaggio di benvenuto con username e immagine profilo -->
                <li class="uk-margin-small-bottom"><span class="sapp-font-light-white uk-visible@s">Ciao, </span><span class="sapp-font-white uk-margin-small-right uk-visible@s" th:text="${utente.username}"></span>
                    <img th:src="@{${utente.fotoCodificata == null ? 'images/noUtente.jpg' : utente.fotoCodificata}}" class="uk-border-circle uk-margin-medium-right uk-visible@s" alt="Profile Picture" width="50" height="50"></li>
                <li><a class="uk-margin-small-bottom uk-button sapp-btn sapp-green sapp-shadow uk-visible@s" th:href="@{/areariservata}">Area Utente</a></li>
            </div>
            <div th:if="${utente == null}">
                <li><a class="uk-button uk-margin-bottom sapp-btn sapp-green uk-visible@s" th:href="@{/login}">Login</a></li>
                <li><a class="uk-button uk-margin-bottom sapp-btn sapp-blue uk-visible@s" th:href="@{/registrazione}">Registrati</a></li>
            </div>

            <li class="uk-nav-divider"></li>

            <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

            <div th:each="continente:${alberiPerContinente}" >
                <li class="uk-nav-header" th:text="${continente.key}"></li>
                <div>
                    <ul class="uk-nav-sub">
                        <li th:each="albero:${continente.value}"  >
                            <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
                    </ul>
                </div>
          </ul>
    </div>
</div>
<header class="uk-container uk-margin-medium-top">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-collapse" uk-grid>

        <!-- Logo e Scritta sempre affiancati e centrati -->
        <div class="uk-width-1-2 uk-flex uk-flex-middle uk-width-auto">
            <!-- Logo -->
            <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-small-right" style="width: 140px; height: 140px;">
                <a th:href="@{/}" class="">
                    <img src="../images/sapplylogoPRO.gif" alt="Sapply's logo"/>
                </a>
            </div>
            <!-- Scritta Sapply affiancata e centrata verticalmente rispetto al logo -->
            <span class="sapp-font-alt">Sapply</span>
        </div>

        <!-- Divider verticale per schermi medi e grandi -->
        <div class="uk-visible@s uk-divider-vertical uk-margin-large-left uk-margin-large-right"></div>

        <!-- Headline -->
        <div class="uk-width-expand@s uk-width-1-2 uk-margin-small-top">
            <span class="sapp-font-alt-head">Adotta un albero,<br>&emsp; contribuisci a un futuro più verde.</span>
        </div>

    </div>
</header>
<div class="uk-section">
    <!-- Contenitore principale per ogni continente -->
    <div th:each="continente : ${alberiPerContinente}" class="uk-container">
        <!-- Titolo del continente su un'intera riga -->
        <div class="uk-card uk-width-1-3 sapp-angle sapp-shadow sapp-fnt sapp-bg-light uk-padding uk-margin-large-bottom uk-margin-large-top">
        <h2 class="uk-text-left sapp-fnt"><strong><span th:text="${continente.key}"></span></strong></h2>
        </div>
        <!-- Griglia delle card degli alberi, disposte su 2 o 3 colonne -->
        <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: pack">
            <!-- Itera su ogni albero del continente per generare le card -->
            <div th:each="albero : ${continente.value}">
                <div class="uk-card uk-card-default uk-card sapp-angle sapp-font sapp-limit-size sapp-bg-light" style="overflow: hidden;">
                    <div class="sapp-angle-img uk-cover-container">
                        <img class="uk-cover uk-animation-kenburns" th:src="@{'images/'+${albero.foto}}" alt="Immagine Albero" th:alt="${albero.nomeAlbero}">
                    </div>
                    <div class="uk-card-body sapp-font">
                        <h3 class="sapp-font" th:text="${albero.nomeAlbero} + ' - ' + ${albero.specie}"></h3>
                        <h4 class="sapp-font-light-reg" th:text="'Paese: ' + ${albero.paese}"></h4>
                        <h4 class="uk-margin-medium-bottom sapp-font-light-reg" th:text="'Significato: ' + ${albero.significato}"></h4>
                        <!-- Prezzo formattato con due decimali e aggiunta di /anno -->
                        <h4 class="sapp-font-light-reg" th:text="'Prezzo: €' + ${#numbers.formatDecimal(albero.prezzo, 0, 'POINT', 2, 'COMMA')} + '/anno'"></h4>
                        <a class="uk-position-bottom-right uk-button sapp-font sapp-btn sapp-green sapp-shadow uk-margin-medium-right uk-margin-medium-bottom"
                           th:href="@{/adozione(id=${albero.id})}">
                            Adottami
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="uk-margin-xlarge-top uk-width-1-1 uk-flex uk-flex-center">
    <div class="uk-width-1-2 uk-padding sapp-angle sapp-shadow sapp-bg-light uk-position-relative uk-margin-medium-bottom uk-flex uk-flex-middle ">
        <img src="../images/sapplylogo.png" alt="Logo" class="uk-width-1-5 uk-inline">
        <span class="uk-text-large sapp-fnt uk-text-center uk-width-3-5 uk-inline">
       <strong>è una creazione JAITA128</strong>
      </span>
        <a th:href="@{/chisiamo}" class="uk-button sapp-font sapp-btn sapp-blue sapp-shadow uk-width-1-5 uk-inline">Il nostro team</a>
    </div>
</footer>

<div class="parallax">
    <img src="../images/layer4.png" class="layer layer1" alt="Livello 1">
    <img src="../images/layer3.png" class="layer layer2" alt="Livello 2">
    <img src="../images/layer2.png" class="layer layer3" alt="Livello 3">
    <img src="../images/layer1.png" class="layer layer4" alt="Livello 4">
</div>
<script th:src="@{js/parallax.js}"></script>
<script src="js/planet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>


<!-- <h1>Login</h1>
<p th:if="${error}" style="...">Credenziali Errate</p>
<form action="" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" /> <br />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" /> <br />
  <input type="submit" value="Login" />
</form> -->