<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Area Utente</title>
</head>
<body>
<h1>Benvenuto nell'Area Utente</h1>
<h2>Cosa vuole fare oggi?</h2>
<ul>
  <a th:href="@{/}"><li>Adotta un albero 🌲 (torna alla homepage)</li></a>
  <a href="#"><li>Lascia una recensione ✏️</li></a>
  <a th:href="@{/profiloutente}"><li>Visualizza il tuo profilo 👥</li></a>
  <a th:href="@{/areariservata/logout}"><li>Esci dall'account 🚪</li></a>
</ul>

<br>
<div th:if="${adozioni.size() > 0}">
  <ul>
    <li th:each="adozione : ${adozioni}">
      Albero: <span th:text="${adozione.albero.specie}"></span><br>
      Quantità: <span th:text="${adozione.quantita}"></span><br>
      Data di adozione: <span th:text="${adozione.dataAdozione}"></span><br>
      Costo Totale: <span th:text="${adozione.costoTotale} + '€/anno'"></span><br>
      <a th:href="@{/recensione/crea(idAdozione=${adozione.id})}">
        Lascia una recensione
      </a>
    </li>
  </ul>

</div>

<div th:if="${adozioni.size() == 0}">
  <p>Non hai ancora adottato alberi. Esplora i nostri alberi disponibili e inizia subito la tua prima adozione!</p>

</div>

</body>
</html>