<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Area Utente</title>
</head>
<body>
<h1>Benvenuto nell'Area Utente</h1>
<h2>Cosa vuole fare oggi?</h2>
<ul>
  <a th:href="@{/}"><li>Adotta un albero 🌲 (torna alla homepage)</li></a>
  <a href="#"><li>Lascia una recensione ✏️</li></a>
  <a th:href="@{/profiloutente}"><li>Visualizza il tuo profilo 👥</li></a>
  <a th:href="@{/areariservata/logout}"><li>Esci dall'account 🚪</li></a>
</ul>
</body>
</html>