<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lascia una Recensione</title>
  <!-- Google Fonts - Open Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="css/stile.css"/>
</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
  <div class="uk-container">
    <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
      <!-- Navbar per schermi medi o più grandi -->
      <div class="uk-navbar-left uk-visible@m">
        <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
      </div>
      <div class="uk-navbar-left uk-visible@m">
        <ul class="uk-navbar-nav">
          <!-- Itera su ogni continente -->
          <div th:each="continente : ${alberiPerContinente}">
            <li>
              <!-- Pulsante per il continente -->
              <div class="uk-inline uk-margin-small-left">
                <button class="uk-button sapp-btn-light sapp-shadow"
                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                        type="button"
                        th:text="${continente.key}"> <!-- Nome del continente -->
                </button>
                <!-- Dropdown degli alberi del continente -->
                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                  <ul class="uk-nav uk-dropdown-nav">
                    <!-- Itera su ogni albero nel continente -->
                    <li th:each="albero : ${continente.value}">
                      <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>

      <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
      <div class="uk-navbar-left uk-hidden@m">
        <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
      </div>

      <!-- Login e Registrazione a destra -->
      <div class="uk-navbar-right">
        <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m" th:href="@{/login}">Login</a>
        <a class="uk-button sapp-btn sapp-blue sapp-shadow uk-visible@m" th:href="@{/registrazione}">Registrati</a>
      </div>

    </div>
  </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>


    <ul class="uk-nav uk-nav-default sapp-font">
      <li><button class="uk-button uk-margin-bottom sapp-btn sapp-green" th:href="@{/login}">Login</button></li>
      <li><button class="uk-button uk-margin-bottom sapp-btn sapp-blue" th:href="@{/registrazione}">Registrati</button></li>
      <li class="uk-nav-divider"></li>

      <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

      <div th:each="continente:${alberiPerContinente}" >
        <li class="uk-nav-header" th:text="${continente.key}"></li>
        <div>
          <ul class="uk-nav-sub">
            <li th:each="albero:${continente.value}"  >
              <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
          </ul>
        </div>
    </ul>
  </div>
</div>

  <h1>Lascia una recensione per l'adozione</h1>
  <p>Stai lasciando una recensione per l'adozione di <span th:text="${adozione.albero.specie}"></span></p>

  <form th:action="@{/recensione/salva}" method="post">
    <input type="hidden" name="idAdozione" th:value="${idAdozione}">
    <label for="commento">Recensione:</label><br>
    <textarea id="commento" name="commento" required></textarea><br>
    <label for="valutazione">Valutazione(1-5):</label>
    <input type="number" id="valutazione" name="valutazione" min="1" max="5" required><br>
    <button type="submit">Invia Recensione</button>

  </form>
<footer class="uk-margin-xlarge-top uk-width-1-1 uk-flex uk-flex-center@m uk-flex-right@l">
  <div class="uk-width-1-6 uk-padding sapp-angle sapp-shadow sapp-bg uk-position-relative uk-margin-medium-right uk-margin-medium-bottom">
    <img src="../images/sapplylogo.png" alt="Logo" class="uk-margin-small-bottom uk-width-3-6" height="auto">
    <p class="uk-text-large sapp-font uk-text-right">
      è una creazione <a th:href="@{/chisiamo}">JAITA128</a>
    </p>
  </div>
</footer>

<div class="parallax">
  <img src="../images/layer4.png" class="layer layer1" alt="Livello 1">
  <img src="../images/layer3.png" class="layer layer2" alt="Livello 2">
  <img src="../images/layer2.png" class="layer layer3" alt="Livello 3">
  <img src="../images/layer1.png" class="layer layer4" alt="Livello 4">
</div>
<script th:src="@{js/parallax.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>