<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Google Fonts - Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="css/stile.css"/>
</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
    <div class="uk-container">
        <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
            <!-- Navbar per schermi medi o più grandi -->
            <div class="uk-navbar-left uk-visible@m">
                <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
            </div>
            <div class="uk-navbar-left uk-visible@m">
                <ul class="uk-navbar-nav">
                    <!-- Itera su ogni continente -->
                    <div th:each="continente : ${alberiPerContinente}">
                        <li>
                            <!-- Pulsante per il continente -->
                            <div class="uk-inline uk-margin-small-left">
                                <button class="uk-button sapp-btn-light sapp-shadow"
                                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                                        type="button"
                                        th:text="${continente.key}"> <!-- Nome del continente -->
                                </button>
                                <!-- Dropdown degli alberi del continente -->
                                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <!-- Itera su ogni albero nel continente -->
                                        <li th:each="albero : ${continente.value}">
                                            <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
            <div class="uk-navbar-left uk-hidden@m">
                <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>

            <!-- Login e Registrazione oppure Area Utente quando loggato -->
            <div class="uk-navbar-right">
                <div th:if="${utente != null}">
                    <!-- Messaggio di benvenuto con username e immagine profilo -->
                    <span class="sapp-font-light-reg uk-visible@m">Ciao, </span><span class="sapp-font uk-margin-small-right uk-visible@m" th:text="${utente.username}"></span>
                    <img th:src="@{${utente.fotoCodificata == null ? 'images/noUtente.jpg' : utente.fotoCodificata}}" class="uk-border-circle uk-margin-medium-right uk-visible@m" alt="Profile Picture" width="50" height="50">
                    <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m" th:href="@{/areariservata}">Area Utente</a>
                </div>
                <div th:if="${utente == null}">
                    <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/login}">Login</a>
                    <a class="uk-button sapp-btn sapp-blue sapp-shadow uk-visible@m" th:href="@{/registrazione}">Registrati</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>


        <ul class="uk-nav uk-nav-default sapp-font">
            <div th:if="${utente != null}">
                <!-- Messaggio di benvenuto con username e immagine profilo -->
                <li class="uk-margin-small-bottom"><span class="sapp-font-light-white uk-visible@s">Ciao, </span><span class="sapp-font-white uk-margin-small-right uk-visible@s" th:text="${utente.username}"></span>
                <img th:src="@{${utente.fotoCodificata == null ? 'images/noUtente.jpg' : utente.fotoCodificata}}" class="uk-border-circle uk-margin-medium-right uk-visible@s" alt="Profile Picture" width="50" height="50"></li>
                <li><a class="uk-margin-small-bottom uk-button sapp-btn sapp-green sapp-shadow uk-visible@s" th:href="@{/areariservata}">Area Utente</a></li>
            </div>
            <div th:if="${utente == null}">
                <li><a class="uk-button uk-margin-bottom sapp-btn sapp-green uk-visible@s" th:href="@{/login}">Login</a></li>
                <li><a class="uk-button uk-margin-bottom sapp-btn sapp-blue uk-visible@s" th:href="@{/registrazione}">Registrati</a></li>
            </div>

            <li class="uk-nav-divider"></li>

            <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

            <div th:each="continente:${alberiPerContinente}" >
                <li class="uk-nav-header" th:text="${continente.key}"></li>
                <div>
                    <ul class="uk-nav-sub">
                        <li th:each="albero:${continente.value}"  >
                            <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
                    </ul>
                </div>
        </ul>
    </div>
</div>
<header class="uk-container uk-margin-medium-top">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-collapse" uk-grid>

        <!-- Logo e Scritta sempre affiancati e centrati -->
        <div class="uk-flex uk-flex-middle uk-width-auto">
            <!-- Logo -->
            <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-medium-right" style="width: 130px; height: 130px;">
                <a th:href="@{/}" class="">
                    <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 104" width="150" height="150">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #1e1e1c;
                                        stroke-linecap: round;
                                        stroke-miterlimit: 10;
                                        stroke-width: 4px;
                                        stroke-dasharray: 100;
                                        stroke-dashoffset: 100;
                                        animation: draw 4s ease forwards;
                                    }

                                    @keyframes draw {
                                        to {
                                            stroke-dashoffset: 0;
                                        }
                                    }
                                </style>
                            </defs>
                            <path class="cls-1" d="M4.95,82.32l11.31-9.72c1.91-1.64,5.74-1.6,7.57.07l3.92,3.58c1.65,1.5,4.99,1.71,7.06.44h0c.93-.57,1.45-1.36,1.45-2.18v-18.63h0c-12.63-3.3-22.36-10.01-26.6-18.35l-.61-1.2"/>
                            <path class="cls-1" d="M81.91,82.32l-11.31-9.72c-1.91-1.64-5.74-1.6-7.57.07l-3.92,3.58c-1.65,1.5-4.99,1.71-7.06.44h0c-.93-.57-1.45-1.36-1.45-2.18v-18.63h0c12.63-3.3,22.36-10.01,26.6-18.35l.61-1.2"/>
                            <line class="cls-1" x1="43.49" y1="83.76" x2="43.49" y2="14.09"/>
                            <path class="cls-1" d="M20.6,22.47s4.93,15.41,23.1,14.88"/>
                            <path class="cls-1" d="M66.8,22.47s-4.93,15.41-23.1,14.88"/>
                            <path class="cls-1" d="M2,31.14c0-2.86,2.32-5.19,5.19-5.19"/>
                            <path class="cls-1" d="M12.37,31.14c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19"/>
                            <path class="cls-1" d="M7.19,25.95c2.86,0,5.19,2.32,5.19,5.19"/>
                            <path class="cls-1" d="M14.14,16.03c0-2.86,2.32-5.19,5.19-5.19"/>
                            <path class="cls-1" d="M24.52,16.03c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19"/>
                            <path class="cls-1" d="M19.33,10.84c2.86,0,5.19,2.32,5.19,5.19"/>
                            <path class="cls-1" d="M48.68,7.19c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19,2.32-5.19,5.19-5.19"/>
                            <path class="cls-1" d="M43.49,2c2.86,0,5.19,2.32,5.19,5.19"/>
                            <path class="cls-1" d="M72.85,15.56c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19,2.32-5.19,5.19-5.19"/>
                            <path class="cls-1" d="M67.66,10.37c2.86,0,5.19,2.32,5.19,5.19"/>
                            <path class="cls-1" d="M73.4,31.14c0-2.86,2.32-5.19,5.19-5.19"/>
                            <path class="cls-1" d="M83.77,31.14c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19"/>
                            <path class="cls-1" d="M78.58,25.95c2.86,0,5.19,2.32,5.19,5.19"/>
                        </svg>
                    </div>
                </a>
            </div>
            <!-- Scritta Sapply affiancata e centrata verticalmente rispetto al logo -->
            <span class="sapp-font-alt uk-margin-small-left">Sapply</span>
        </div>

        <!-- Divider verticale per schermi medi e grandi -->
        <div class="uk-visible@s uk-divider-vertical uk-margin-large-left uk-margin-large-right"></div>

        <!-- Divider orizzontale per schermi piccoli -->
        <hr class="uk-hidden@s uk-width-1-1 uk-divider-small uk-margin-small-top uk-margin-small-bottom">

        <!-- Headline -->
        <div class="uk-width-expand@s uk-width-1-1 uk-margin-small-top">
            <span class="sapp-font-alt-head">Adotta un albero,<br>&emsp; contribuisci a un futuro più verde.</span>
        </div>

    </div>
</header>

<div class="uk-container uk-container-xlarge">
    <div class="uk-section" uk-height-viewport="expand: true">
        <div class="uk-grid-divider uk-child-width-expand@m sapp-angle"  uk-grid>
            <!-- Colonna sinistra: Mappamondo con alberi -->
            <div>
                <div id="mappamondo-container" class="uk-width-3-5">
                    <img src="../images/planet.svg" alt="Mappamondo" class="uk-responsive-width">
                    <div class="albero" style="top: 72%; left: 57%;" data-albero-id="1"></div> <!--Africa, Madagascar-->
                    <div class="albero" style="top: 77%; left: 52%;" data-albero-id="2"></div> <!--Africa, SudAfrica-->
                    <div class="albero" style="top: 71%; left: 52%;" data-albero-id="3"></div> <!--Africa, Zimbabwe-->
                    <div class="albero" style="top: 60%; left: 49%;" data-albero-id="4"></div> <!--Africa, Camerun-->
                    <div class="albero" style="top: 77%; left: 50%;" data-albero-id="5"></div> <!--Africa, SudAfrica-->
                    <div class="albero" style="top: 51%; left: 64%;" data-albero-id="6"></div> <!--Asia, India-->
                    <div class="albero" style="top: 45%; left: 71%;" data-albero-id="7"></div> <!--Asia, Cina-->
                    <div class="albero" style="top: 51%; left: 66%;" data-albero-id="8"></div> <!--Asia, India-->
                    <div class="albero" style="top: 45%; left: 74%;" data-albero-id="9"></div> <!--Asia, Cina-->
                    <div class="albero" style="top: 44%; left: 54%;" data-albero-id="10"></div> <!--Asia, Libano-->
                    <div class="albero" style="top: 40%; left: 44%;" data-albero-id="11"></div> <!--Europa, Spagna-->
                    <div class="albero" style="top: 32%; left: 48%;" data-albero-id="12"></div> <!--Europa, Germania-->
                    <div class="albero" style="top: 23%; left: 52%;" data-albero-id="13"></div> <!--Europa, Finlandia-->
                    <div class="albero" style="top: 38%; left: 48%;" data-albero-id="14"></div> <!--Europa, Italia-->
                    <div class="albero" style="top: 38%; left: 51%;" data-albero-id="15"></div> <!--Europa, Italia-->
                    <div class="albero" style="top: 41%; left: 23%;" data-albero-id="16"></div> <!--America, USA-->
                    <div class="albero" style="top: 41%; left: 19%;" data-albero-id="17"></div> <!--America, USA-->
                    <div class="albero" style="top: 36%; left: 16%;" data-albero-id="18"></div> <!--America, USA-->
                    <div class="albero" style="top: 90%; left: 27%;" data-albero-id="19"></div> <!--America, Argentina-->
                    <div class="albero" style="top: 64%; left: 25%;" data-albero-id="20"></div> <!--America, Ecuador-->
                    <div class="albero" style="top: 74%; left: 77%;" data-albero-id="21"></div> <!--Oceania, Australia-->
                    <div class="albero" style="top: 83%; left: 91%;" data-albero-id="22"></div> <!--Oceania, NuovaZelanda-->
                    <div class="albero" style="top: 87%; left: 90%;" data-albero-id="23"></div> <!--Oceania, NuovaZelanda-->
                    <div class="albero" style="top: 76%; left: 80%;" data-albero-id="24"></div> <!--Oceania, Australia-->
                    <div class="albero" style="top: 78%; left: 83%;" data-albero-id="25"></div> <!--Oceania Australia-->
                    <div class="albero" style="top: 82%; left: 83%;" data-albero-id="26"></div> <!--Oceania, Australia-->
                    <div class="albero" style="top: 72%; left: 33%;" data-albero-id="27"></div> <!--America, Brasile-->
                    <div class="albero" style="top: 19%; left: 51%;" data-albero-id="28"></div> <!--Europa, Finlandia-->
                    <div class="albero" style="top: 43%; left: 81%;" data-albero-id="29"></div> <!--Asia, Giappone-->
                    <div class="albero" style="top: 70%; left: 50%;" data-albero-id="30"></div> <!--Africa, SudAfrica-->
                    <!-- Aggiungi altri pallini per rappresentare gli alberi -->
                </div>
            </div>

            <!-- Colonna destra: Dettagli dell'albero -->
            <div class="uk-width-2-5@m uk-width-1-1@s">
                <!-- Itera su ogni albero del continente per generare le card -->

                    <div class="uk-card uk-card-default uk-card sapp-card-border sapp-angle sapp-font" style="overflow: hidden;">
                        <div class="sapp-angle-img uk-cover-container">
                            <img class="uk-cover uk-animation-kenburns" id="foto" alt="Immagine Albero">
                        </div>
                        <div class="uk-card-body sapp-font">
                            <h3 class="sapp-font" id="nomeAlbero">Seleziona Sulla Mappa- Una zona di tuo interesse</h3>
                            <h4 class="sapp-font-light-reg" id="paese"></h4>
                            <h4 class="uk-margin-medium-bottom sapp-font-light-reg" id="significato"></h4>
                            <!-- Prezzo formattato con due decimali e aggiunta di /anno -->
                            <h4 class="sapp-font-light-reg" id="prezzo"></h4>
                            <a id="adopt-button" class="uk-position-bottom-right uk-button sapp-font sapp-btn sapp-green sapp-shadow uk-margin-medium-right uk-margin-medium-bottom"
                               href="">
                                Adottami
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="js/planet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>

<!--(id=${albero.id}) -->