<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="/images/sapplyfavicon.png">
  <!-- Google Fonts - Open Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="css/stile.css"/>

</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
  <div class="uk-container">
    <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
      <!-- Navbar per schermi medi o più grandi -->
      <div class="uk-navbar-left uk-visible@m">
        <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
      </div>
      <div class="uk-navbar-left uk-visible@m">
        <ul class="uk-navbar-nav">
          <!-- Itera su ogni continente -->
          <div th:each="continente : ${alberiPerContinente}">
            <li>
              <!-- Pulsante per il continente -->
              <div class="uk-inline uk-margin-small-left">
                <button class="uk-button sapp-btn-light sapp-shadow"
                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                        type="button"
                        th:text="${continente.key}"> <!-- Nome del continente -->
                </button>
                <!-- Dropdown degli alberi del continente -->
                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                  <ul class="uk-nav uk-dropdown-nav">
                    <!-- Itera su ogni albero nel continente -->
                    <li th:each="albero : ${continente.value}">
                      <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>

      <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
      <div class="uk-navbar-left uk-hidden@m">
        <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>


    <ul class="uk-nav uk-nav-default sapp-font">
      <li class="uk-nav-divider"></li>

      <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

      <div th:each="continente:${alberiPerContinente}" >
        <li class="uk-nav-header" th:text="${continente.key}"></li>
        <div>
          <ul class="uk-nav-sub">
            <li th:each="albero:${continente.value}"  >
              <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
          </ul>
        </div>
    </ul>
  </div>
</div>
<header class="uk-container uk-margin-medium-top">
  <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-collapse" uk-grid>

    <!-- Logo e Scritta sempre affiancati e centrati -->
    <div class="uk-width-1-2 uk-flex uk-flex-middle uk-width-auto">
      <!-- Logo -->
      <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-small-right" style="width: 140px; height: 140px;">
        <a th:href="@{/}" class="">
          <img src="../images/sapplylogoPRO.gif" alt="Sapply's logo"/>
        </a>
      </div>
      <!-- Scritta Sapply affiancata e centrata verticalmente rispetto al logo -->
      <span class="sapp-font-alt">Sapply</span>
    </div>

    <!-- Divider verticale per schermi medi e grandi -->
    <div class="uk-visible@s uk-divider-vertical uk-margin-large-left uk-margin-large-right"></div>

    <!-- Headline -->
    <div class="uk-width-expand@s uk-width-1-2 uk-margin-small-top">
      <span class="sapp-font-alt-head">Adotta un albero,<br>&emsp; contribuisci a un futuro più verde.</span>
    </div>

  </div>
</header>
<!-- Contenitore per centrare il form -->
<div class="uk-flex uk-flex-center uk-flex-middle uk-margin-xlarge-top">
  <div class="form-container uk-width-1-4@m uk-width-1-2@s uk-padding sapp-angle sapp-shadow"
  >
    <h2 class="uk-heading-line uk-text-left sapp-font">
      <span>Login</span>
    </h2>
    <form class="uk-form-stacked" action="" method="post">
      <p th:if="${error}" style="...">Credenziali Errate</p>
      <!-- Username -->
      <div class="uk-margin">
        <label class="uk-form-label sapp-font" for="username">Username</label>

        <div class="uk-form-controls">
          <input
                  class="uk-input sapp-font-light sapp-angle"
                  name="username"
                  id="username"
                  type="text"
                  placeholder="Inserisci il tuo username"
                  required
          />
        </div>
      </div>

      <!-- Password -->
      <div class="uk-margin">
        <label class="uk-form-label sapp-font" for="password"
        >Password</label
        >
        <div class="uk-form-controls">
          <input
                  class="uk-input sapp-font-light sapp-angle"
                  name="password"
                  id="password"
                  type="password"
                  placeholder="Inserisci la tua password"
                  required
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="uk-margin">
        <button
                class="uk-button uk-width-1-1 sapp-font sapp-angle sapp-green sapp-btn"
                type="submit"
                value="Login"

        >
          Accedi
        </button>
      </div>
      <div class="uk-margin">
        <h5 class="uk-text-right sapp-font-light">
          Non hai ancora effettuato la registrazione?
          <a th:href="@{/registrazione}">Registrati</a>
        </h5>
      </div>
    </form>
  </div>
</div>

<script src="js/planet.js"></script>

<footer class="uk-margin-xlarge-top uk-width-1-1 uk-flex uk-flex-center">
  <div class="uk-width-1-2 uk-padding sapp-angle sapp-shadow sapp-bg-light uk-position-relative uk-margin-medium-bottom uk-flex uk-flex-middle ">
    <img src="../images/sapplylogo.png" alt="Logo" class="uk-width-1-5 uk-inline">
    <span class="uk-text-large sapp-fnt uk-text-center uk-width-3-5 uk-inline">
       <strong>è una creazione JAITA128</strong>
      </span>
    <a th:href="@{/chisiamo}" class="uk-button sapp-font sapp-btn sapp-blue sapp-shadow uk-width-1-5 uk-inline">Il nostro team</a>
  </div>
</footer>

<div class="parallax">
  <img src="../images/layer4.png" class="layer layer1" alt="Livello 1">
  <img src="../images/layer3.png" class="layer layer2" alt="Livello 2">
  <img src="../images/layer2.png" class="layer layer3" alt="Livello 3">
  <img src="../images/layer1.png" class="layer layer4" alt="Livello 4">
</div>
<script th:src="@{js/parallax.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>


<!-- <h1>Login</h1>
<p th:if="${error}" style="...">Credenziali Errate</p>
<form action="" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" /> <br />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" /> <br />
  <input type="submit" value="Login" />
</form> -->