<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrati</title>

  <!-- Google Fonts - Open Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="css/stile.css"/>

</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
  <div class="uk-container">
    <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
      <!-- Navbar per schermi medi o più grandi -->
      <div class="uk-navbar-left uk-visible@m">
        <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
      </div>
      <div class="uk-navbar-left uk-visible@m">
        <ul class="uk-navbar-nav">
          <!-- Itera su ogni continente -->
          <div th:each="continente : ${alberiPerContinente}">
            <li>
              <!-- Pulsante per il continente -->
              <div class="uk-inline uk-margin-small-left">
                <button class="uk-button sapp-btn-light sapp-shadow"
                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                        type="button"
                        th:text="${continente.key}"> <!-- Nome del continente -->
                </button>
                <!-- Dropdown degli alberi del continente -->
                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                  <ul class="uk-nav uk-dropdown-nav">
                    <!-- Itera su ogni albero nel continente -->
                    <li th:each="albero : ${continente.value}">
                      <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>

      <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
      <div class="uk-navbar-left uk-hidden@m">
        <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
      </div>


    </div>
  </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>


    <ul class="uk-nav uk-nav-default sapp-font">

      <li class="uk-nav-divider"></li>

      <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

      <div th:each="continente:${alberiPerContinente}" >
        <li class="uk-nav-header" th:text="${continente.key}"></li>
        <div>
          <ul class="uk-nav-sub">
            <li th:each="albero:${continente.value}"  >
              <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
          </ul>
        </div>
    </ul>
  </div>
</div>
<header class="uk-container uk-margin-medium-top">
  <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-collapse" uk-grid>

    <!-- Logo e Scritta sempre affiancati e centrati -->
    <div class="uk-flex uk-flex-middle uk-width-auto">
      <!-- Logo -->
      <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-medium-right" style="width: 130px; height: 130px;">
        <a th:href="@{/}" class="">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 94 104" width="150" height="150">
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                    stroke: #1e1e1c;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                    stroke-width: 4px;
                    stroke-dasharray: 100;
                    stroke-dashoffset: 100;
                    animation: draw 4s ease forwards;
                  }

                  @keyframes draw {
                    to {
                      stroke-dashoffset: 0;
                    }
                  }
                </style>
              </defs>
              <path class="cls-1" d="M4.95,82.32l11.31-9.72c1.91-1.64,5.74-1.6,7.57.07l3.92,3.58c1.65,1.5,4.99,1.71,7.06.44h0c.93-.57,1.45-1.36,1.45-2.18v-18.63h0c-12.63-3.3-22.36-10.01-26.6-18.35l-.61-1.2"/>
              <path class="cls-1" d="M81.91,82.32l-11.31-9.72c-1.91-1.64-5.74-1.6-7.57.07l-3.92,3.58c-1.65,1.5-4.99,1.71-7.06.44h0c-.93-.57-1.45-1.36-1.45-2.18v-18.63h0c12.63-3.3,22.36-10.01,26.6-18.35l.61-1.2"/>
              <line class="cls-1" x1="43.49" y1="83.76" x2="43.49" y2="14.09"/>
              <path class="cls-1" d="M20.6,22.47s4.93,15.41,23.1,14.88"/>
              <path class="cls-1" d="M66.8,22.47s-4.93,15.41-23.1,14.88"/>
              <path class="cls-1" d="M2,31.14c0-2.86,2.32-5.19,5.19-5.19"/>
              <path class="cls-1" d="M12.37,31.14c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19"/>
              <path class="cls-1" d="M7.19,25.95c2.86,0,5.19,2.32,5.19,5.19"/>
              <path class="cls-1" d="M14.14,16.03c0-2.86,2.32-5.19,5.19-5.19"/>
              <path class="cls-1" d="M24.52,16.03c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19"/>
              <path class="cls-1" d="M19.33,10.84c2.86,0,5.19,2.32,5.19,5.19"/>
              <path class="cls-1" d="M48.68,7.19c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19,2.32-5.19,5.19-5.19"/>
              <path class="cls-1" d="M43.49,2c2.86,0,5.19,2.32,5.19,5.19"/>
              <path class="cls-1" d="M72.85,15.56c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19,2.32-5.19,5.19-5.19"/>
              <path class="cls-1" d="M67.66,10.37c2.86,0,5.19,2.32,5.19,5.19"/>
              <path class="cls-1" d="M73.4,31.14c0-2.86,2.32-5.19,5.19-5.19"/>
              <path class="cls-1" d="M83.77,31.14c0,2.86-2.32,5.19-5.19,5.19s-5.19-2.32-5.19-5.19"/>
              <path class="cls-1" d="M78.58,25.95c2.86,0,5.19,2.32,5.19,5.19"/>
            </svg>
          </div>
        </a>
      </div>
      <!-- Scritta Sapply affiancata e centrata verticalmente rispetto al logo -->
      <span class="sapp-font-alt uk-margin-small-left">Sapply</span>
    </div>

    <!-- Divider verticale per schermi medi e grandi -->
    <div class="uk-visible@s uk-divider-vertical uk-margin-large-left uk-margin-large-right"></div>

    <!-- Divider orizzontale per schermi piccoli -->
    <hr class="uk-hidden@s uk-width-1-1 uk-divider-small uk-margin-small-top uk-margin-small-bottom">

    <!-- Headline -->
    <div class="uk-width-expand@s uk-width-1-1 uk-margin-small-top">
      <span class="sapp-font-alt-head">Adotta un albero,<br>&emsp; contribuisci a un futuro più verde.</span>
    </div>

  </div>
</header>
<div class="uk-flex uk-flex-center uk-flex-middle uk-margin-medium-top">
  <div class="form-container uk-width-1-3@m uk-width-1-2@s uk-padding sapp-angle sapp-shadow">

    <h2 class="uk-heading-line uk-text-left sapp-font"><span>Registrazione</span></h2>


    <!--FORM DI REGISTRAZIONE -->

    <form class="uk-form-stacked" th:object="${utente}" method="post" enctype="multipart/form-data">

      <!-- Nome e Cognome affiancati -->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="nome">Nome</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="nome" th:field="*{nome}" type="text" placeholder="Inserisci il tuo nome" required>
            <!-- Campo Nome -->
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Errore nel nome</div>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="cognome">Cognome</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="cognome" th:field="*{cognome}" type="text" placeholder="Inserisci il tuo cognome" required>
            <!-- Campo Cognome -->
            <div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Errore nel cognome</div>
          </div>
        </div>
      </div>

      <!-- Username e password affiancati -->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="username">Username</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="username" th:field="*{username}" type="text" placeholder="Inserisci il tuo nickname" required>
            <!-- Campo Username -->
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Errore nell'username</div>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="password">Password</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="password" th:field="*{password}" type="password" placeholder="Inserisci una password" required>
            <!-- password -->
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Errore nella password</div>
            <div th:if="${passwordError}" th:text="${passwordError}"></div>
          </div>
        </div>
      </div>

      <!-- email e Conferma Password affiancati -->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="email">Email</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="email" th:field="*{email}" type="email" placeholder="Inserisci la tua mail" required>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="conf-password">Conferma Password</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="conf-password" type="password" placeholder="Conferma la password" required>
          </div>
        </div>
      </div>
      <!-- metodo pagamento-->
      <div class="uk-child-width-1-1@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="pagamento">Metodo di pagamento</label>
          <div class="uk-form-controls">
            <select class="uk-select sapp-angle sapp-font-light" name="pagamento" id="pagamento" th:field="*{metodoPagamento}" required>
              <option value="payal">Paypal</option>
              <option value="google">Google Pay</option>
              <option value="apple">Apple Pay</option>
              <option value="addebito">Addebito Diretto</option>
              <option value="carta">Carta di debito/credito</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Data di nascita e Seleziona file per immagine profilo con larghezze 4/6 e 2/6 -->
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-2-3@s">
          <label class="uk-form-label sapp-font" for="birthdate">Data di Nascita</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" th:field="*{dataNascita}" id="birthdate" type="date">

            <!-- data di nnascita
            <div th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}">Errore nella data di nascita</div>-->

          </div>
        </div>

        <!--<div class="uk-width-1-3@s">
          <label class="uk-form-label sapp-font" for="foto">Immagine Profilo</label>
          <div class="uk-form-controls" uk-form-custom="target: true">
            <input type="file" id="foto" aria-label="Seleziona immagine del profilo" name="foto">
            <input class="uk-input uk-width-1-1 sapp-font-light sapp-angle" type="text" placeholder="Seleziona file" aria-label="Seleziona immagine" disabled>
          </div>
        </div>-->
      </div>
      <!-- Submit Button -->
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1-1 sapp-font sapp-angle sapp-blue sapp-btn" type="submit">Registrati</button>
      </div>
      <div class="uk-margin">
        <h5 class="uk-text-right sapp-font-light-reg">Hai già effettuato la registrazione? <a th:href="@{/login}">Accedi</a></h5>
      </div>

    </form>
  </div>
</div>
<script src="js/planet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>






<!--
<h1>Registrazione Utente</h1>
<form th:object="${utente}" method="post">
  <label for="nome">Nome</label> <input type="text" th:field="*{nome}" name="nome" id="nome" required>
  <br>

  <label for="cognome">Cognome</label> <input type="text" th:field="*{cognome}" name="cognome" id="cognome" required>
  <br>

  <label for="email">Email</label> <input type="email" th:field="*{email}" name="email" id="email" required> <br>


  <label for="username">Username</label> <input type="text" th:field="*{username}" name="username" id="username" required>
  <p th:if="${duplicato != null}" th:text="${duplicato}"></p>
  <br>
  &lt;!&ndash;  da dove arriva duplicato ??? &ndash;&gt;

  <label for="password">Password</label> <input type="password" th:field="*{password}"  name="password" id="password" required>
  <br>

  <label for="pagamento">Metodo di pagamento</label>
  <select name="pagamento" id="pagamento" th:field="*{metodoPagamento}" required>
    <option value="payal">Paypal</option>
    <option value="google">Google Pay</option>
    <option value="apple">Apple Pay</option>
    <option value="addebito">Addebito Diretto</option>
    <option value="carta">Carta di debito/credito</option>
  </select>
  <br>

  <label for="dataNascita">Data di Nascita: </label> <input type="date" th:field="*{dataNascita}"  name="dataNascita" id="dataNascita" required>
  <br>

  <label for="foto">Foto</label> <input type="file" th:field="*{foto}" name="foto" id="foto">
  <br>
  &lt;!&ndash; facciamo che la foto non è required e non dà errori... &ndash;&gt;

  <input type="submit" value="Registrati">
</form>-->
