<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrati</title>
  <link rel="icon" type="image/x-icon" href="/images/sapplyfavicon.png">

  <!-- Google Fonts - Open Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="css/stile.css"/>

</head>
<body>
<nav class="uk-navbar-container uk-padding-small">
  <div class="uk-container">
    <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
      <!-- Navbar per schermi medi o più grandi -->
      <div class="uk-navbar-left uk-visible@m">
        <a class="uk-button sapp-btn sapp-green sapp-shadow uk-visible@m uk-margin-medium-right" th:href="@{/alberi}">Tutti gli alberi</a>
      </div>
      <div class="uk-navbar-left uk-visible@m">
        <ul class="uk-navbar-nav">
          <!-- Itera su ogni continente -->
          <div th:each="continente : ${alberiPerContinente}">
            <li>
              <!-- Pulsante per il continente -->
              <div class="uk-inline uk-margin-small-left">
                <button class="uk-button sapp-btn-light sapp-shadow"
                        th:classappend="'sapp-' + ${continente.key.toLowerCase()}"
                        type="button"
                        th:text="${continente.key}"> <!-- Nome del continente -->
                </button>
                <!-- Dropdown degli alberi del continente -->
                <div class="sapp-angle sapp-shadow" uk-dropdown="animation: reveal-left; animate-out: true; duration: 700">
                  <ul class="uk-nav uk-dropdown-nav">
                    <!-- Itera su ogni albero nel continente -->
                    <li th:each="albero : ${continente.value}">
                      <a th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>

      <!-- Icona Offcanvas per dispositivi più piccoli di tablet -->
      <div class="uk-navbar-left uk-hidden@m">
        <a class="uk-navbar-toggle" href="#offcanvas-menu" uk-toggle>
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
      </div>


    </div>
  </div>
</nav>

<!-- Offcanvas Menu per dispositivi più piccoli di tablet -->
<div id="offcanvas-menu" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>


    <ul class="uk-nav uk-nav-default sapp-font">

      <li class="uk-nav-divider"></li>

      <li><a th:href="@{/alberi}">Tutti Gli Alberi</a></li>

      <div th:each="continente:${alberiPerContinente}" >
        <li class="uk-nav-header" th:text="${continente.key}"></li>
        <div>
          <ul class="uk-nav-sub">
            <li th:each="albero:${continente.value}"  >
              <a  th:href="@{/adozione(id=${albero.id})}" th:text="${albero.nomeAlbero}"> </a> </li>
          </ul>
        </div>
    </ul>
  </div>
</div>
<header class="uk-container uk-margin-medium-top">
  <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-collapse" uk-grid>

    <!-- Logo e Scritta sempre affiancati e centrati -->
    <div class="uk-flex uk-flex-middle uk-width-auto">
      <!-- Logo -->
      <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-medium-right" style="width: 130px; height: 130px;">
        <a th:href="@{/}" class="">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="150" height="150">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                      stroke: #04151F;
                      stroke-linecap: round;
                      stroke-miterlimit: 10;
                      stroke-width: 3px;
                      stroke-dasharray: 100;
                      stroke-dashoffset: 100;
                      animation: draw 4s ease forwards;
                    }

                    @keyframes draw {
                      to {
                        stroke-dashoffset: 0;
                      }
                    }
                  </style>
                </defs>
                <path class="cls-1" d="M29,70.64s-9.58-7.35-5.02-20.51c2.93-8.45,12.7-10.62,12.7-10.62,0,0,15.35-4.68,13.23-19.81,0,0-1.47-10.56-11.08-13.99"/>
                <path class="cls-1" d="M27.76,43.01s-13.7-3.53-9.96-18.88c0,0,.23-.96.9-2.29"/>
                <path class="cls-1" d="M33.34,40.68s-8.8-6.24-4-16.08c0,0,1.92-3.99,6.21-5.47"/>
                <path class="cls-1" d="M58.79,37.04s-.86,12.34-13.73,20.35c-12.87,8.01-25.44,1.39-25.44,1.39,0,0-7.24-2.67-11.4-9.23"/>
                <path class="cls-1" d="M13.67,68.25s7.31-3.96,14.8,2.06,20.33,3.59,24.59-4.33"/>
                <path class="cls-1" d="M17.41,33.3s-7.14,1.44-11.21-6.16"/>
                <path class="cls-1" d="M49.75,26.04s5.91,2.6,11.49-2.63"/>
                <path class="cls-1" d="M52.94,50.49s5.35,2.22,9.95-2.68"/>
                <g>
                  <path class="cls-1" d="M1.51,23.25c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M8.37,23.25c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M4.94,19.83c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M15.96,17.74c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M22.82,17.74c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M19.39,14.31c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M2.78,46.22c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M9.63,46.22c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M6.21,42.8c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M34.89,16.95c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M41.75,16.95c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M38.33,13.52c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M31.74,4.93c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M38.6,4.93c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M35.17,1.51c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M60,19.71c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M66.86,19.71c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M63.43,16.28c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M55.77,33.08c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M62.63,33.08c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M59.2,29.65c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
                <g>
                  <path class="cls-1" d="M61.72,44.51c0-1.89,1.53-3.43,3.43-3.43"/>
                  <path class="cls-1" d="M68.58,44.51c0,1.89-1.53,3.43-3.43,3.43s-3.43-1.53-3.43-3.43"/>
                  <path class="cls-1" d="M65.15,41.08c1.89,0,3.43,1.53,3.43,3.43"/>
                </g>
              </svg>
          </div>
        </a>
      </div>
      <!-- Scritta Sapply affiancata e centrata verticalmente rispetto al logo -->
      <span class="sapp-font-alt uk-margin-small-left">Sapply</span>
    </div>

    <!-- Divider verticale per schermi medi e grandi -->
    <div class="uk-visible@s uk-divider-vertical uk-margin-large-left uk-margin-large-right"></div>

    <!-- Divider orizzontale per schermi piccoli -->
    <hr class="uk-hidden@s uk-width-1-1 uk-divider-small uk-margin-small-top uk-margin-small-bottom">

    <!-- Headline -->
    <div class="uk-width-expand@s uk-width-1-1 uk-margin-small-top">
      <span class="sapp-font-alt-head">Adotta un albero,<br>&emsp; contribuisci a un futuro più verde.</span>
    </div>

  </div>
</header>
<div class="uk-flex uk-flex-center uk-flex-middle uk-margin-medium-top">
  <div class="form-container uk-width-1-3@m uk-width-1-2@s uk-padding sapp-angle sapp-shadow">

    <h2 class="uk-heading-line uk-text-left sapp-font"><span>Registrazione</span></h2>


    <!--FORM DI REGISTRAZIONE -->

    <form class="uk-form-stacked" th:object="${utente}" method="post" enctype="multipart/form-data">

      <!-- Nome e Cognome affiancati -->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="nome">Nome</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="nome" th:field="*{nome}" type="text" placeholder="Inserisci il tuo nome" required>
            <!-- Campo Nome -->
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Errore nel nome</div>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="cognome">Cognome</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="cognome" th:field="*{cognome}" type="text" placeholder="Inserisci il tuo cognome" required>
            <!-- Campo Cognome -->
            <div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Errore nel cognome</div>
          </div>
        </div>
      </div>

      <!-- Username e password affiancati -->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="username">Username</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="username" th:field="*{username}" type="text" placeholder="Inserisci il tuo nickname" required>
            <!-- Campo Username -->
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Errore nell'username</div>
            <div th:if="${duplicato != null}" th:text="${duplicato}"></div>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="password">Password</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="password" th:field="*{password}" type="password" placeholder="Inserisci una password" required>
            <!-- password -->
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Errore nella password</div>
            <div th:if="${passwordError}" th:text="${passwordError}"></div>
          </div>
        </div>
      </div>

      <!-- email e Conferma Password affiancati -->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="email">Email</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="email" th:field="*{email}" type="email" placeholder="Inserisci la tua mail" required>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="conf-password">Conferma Password</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" id="conf-password" type="password" placeholder="Conferma la password" required>
          </div>
        </div>
      </div>
      <!-- metodo pagamento-->
      <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
        <div>
          <label class="uk-form-label sapp-font" for="pagamento">Metodo di pagamento</label>
          <div class="uk-form-controls">
            <select class="uk-select sapp-angle sapp-font-light" name="pagamento" id="pagamento" th:field="*{metodoPagamento}" required>
              <option value="paypal">Paypal</option>
              <option value="google">Google Pay</option>
              <option value="apple">Apple Pay</option>
              <option value="addebito">Addebito Diretto</option>
              <option value="carta">Carta di debito/credito</option>
            </select>
          </div>
        </div>
        <div>
          <label class="uk-form-label sapp-font" for="birthdate">Data di Nascita</label>
          <div class="uk-form-controls">
            <input class="uk-input sapp-font-light sapp-angle" th:field="*{dataNascita}" id="birthdate" type="date">

            <!-- data di nnascita
            <div th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}">Errore nella data di nascita</div>-->

          </div>
        </div>
      </div>

      <!-- Data di nascita e Seleziona file per immagine profilo con larghezze 4/6 e 2/6 -->
      <div class="uk-grid-small" uk-grid>
<!--        <div class="uk-width-2-3@s">-->
<!--          <label class="uk-form-label sapp-font" for="birthdate">Data di Nascita</label>-->
<!--          <div class="uk-form-controls">-->
<!--            <input class="uk-input sapp-font-light sapp-angle" th:field="*{dataNascita}" id="birthdate" type="date">-->

<!--            &lt;!&ndash; data di nnascita-->
<!--            <div th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}">Errore nella data di nascita</div>&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->

<!--        <div class="uk-width-1-3@s">-->
<!--          <label class="uk-form-label sapp-font" for="foto">Immagine Profilo</label>-->
<!--          <div class="uk-form-controls" uk-form-custom="target: true">-->
<!--            <input type="file" id="foto" aria-label="Seleziona immagine del profilo" name="foto">-->
<!--            <input class="uk-input uk-width-1-1 sapp-font-light sapp-angle" type="text" placeholder="Seleziona file" aria-label="Seleziona immagine" disabled>-->
<!--          </div>-->
<!--        </div>-->
      </div>

<!--  nuovo selettore immagini con radio buttons, il valore viene mandato al parametro "foto" del PostMapping del controller -->
      <span class="uk-form-label sapp-font">Immagine Profilo</span>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-3">
          <input type="radio" id="tree1" name="foto" value="/images/tree1.webp">
          <label for="tree1"><img src="/images/tree1.webp" class="sapp-avatar-icons"></label>
        </div>

        <div class="uk-width-1-3">
          <input type="radio" id="tree2" name="foto" value="/images/tree2.webp" checked>
          <label for="tree2"><img src="/images/tree2.webp" class="sapp-avatar-icons"></label>
        </div>

        <div class="uk-width-1-3">
          <input type="radio" id="tree3" name="foto" value="/images/tree3.webp">
          <label for="tree3"><img src="/images/tree3.webp" class="sapp-avatar-icons"></label>
        </div>

        <br>

        <div class="uk-width-1-3">
          <input type="radio" id="tree4" name="foto" value="/images/tree4.webp">
          <label for="tree4"><img src="/images/tree4.webp" class="sapp-avatar-icons"></label>
        </div>

        <div class="uk-width-1-3">
          <input type="radio" id="tree5" name="foto" value="/images/tree5.webp">
          <label for="tree5"><img src="/images/tree5.webp" class="sapp-avatar-icons"></label>
        </div>

        <div class="uk-width-1-3">
          <input type="radio" id="tree6" name="foto" value="/images/tree6.webp">
          <label for="tree6"><img src="/images/tree6.webp" class="sapp-avatar-icons"></label>
        </div>


      </div>


      <!-- Submit Button -->
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1-1 sapp-font sapp-angle sapp-blue sapp-btn" type="submit">Registrati</button>
      </div>
      <div class="uk-margin">
        <h5 class="uk-text-right sapp-font-light-reg">Hai già effettuato la registrazione? <a th:href="@{/login}">Accedi</a></h5>
      </div>

    </form>
  </div>
</div>
<script src="js/planet.js"></script>

<footer class="uk-margin-xlarge-top uk-width-1-1 uk-flex uk-flex-center">
  <div class="uk-width-1-2 uk-padding sapp-angle sapp-shadow sapp-bg-light uk-position-relative uk-margin-medium-bottom uk-flex uk-flex-middle ">
    <img src="../images/sapplylogo.png" alt="Logo" class="uk-width-1-5 uk-inline">
    <span class="uk-text-large sapp-fnt uk-text-center uk-width-3-5 uk-inline">
       <strong>è una creazione JAITA128</strong>
      </span>
    <a th:href="@{/chisiamo}" class="uk-button sapp-font sapp-btn sapp-blue sapp-shadow uk-width-1-5 uk-inline">Il nostro team</a>
</footer>

<div class="parallax">
  <img src="../images/layer4.png" class="layer layer1" alt="Livello 1">
  <img src="../images/layer3.png" class="layer layer2" alt="Livello 2">
  <img src="../images/layer2.png" class="layer layer3" alt="Livello 3">
  <img src="../images/layer1.png" class="layer layer4" alt="Livello 4">
</div>
<script th:src="@{js/parallax.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</body>
</html>






<!--
<h1>Registrazione Utente</h1>
<form th:object="${utente}" method="post">
  <label for="nome">Nome</label> <input type="text" th:field="*{nome}" name="nome" id="nome" required>
  <br>

  <label for="cognome">Cognome</label> <input type="text" th:field="*{cognome}" name="cognome" id="cognome" required>
  <br>

  <label for="email">Email</label> <input type="email" th:field="*{email}" name="email" id="email" required> <br>


  <label for="username">Username</label> <input type="text" th:field="*{username}" name="username" id="username" required>
  <p th:if="${duplicato != null}" th:text="${duplicato}"></p>
  <br>
  &lt;!&ndash;  da dove arriva duplicato ??? &ndash;&gt;

  <label for="password">Password</label> <input type="password" th:field="*{password}"  name="password" id="password" required>
  <br>

  <label for="pagamento">Metodo di pagamento</label>
  <select name="pagamento" id="pagamento" th:field="*{metodoPagamento}" required>
    <option value="payal">Paypal</option>
    <option value="google">Google Pay</option>
    <option value="apple">Apple Pay</option>
    <option value="addebito">Addebito Diretto</option>
    <option value="carta">Carta di debito/credito</option>
  </select>
  <br>

  <label for="dataNascita">Data di Nascita: </label> <input type="date" th:field="*{dataNascita}"  name="dataNascita" id="dataNascita" required>
  <br>

  <label for="foto">Foto</label> <input type="file" th:field="*{foto}" name="foto" id="foto">
  <br>
  &lt;!&ndash; facciamo che la foto non è required e non dà errori... &ndash;&gt;

  <input type="submit" value="Registrati">
</form>-->
